<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Mandriva Linux</vendor>
  <vendor_url>http://www.mandriva.com</vendor_url>

   <action id="org.mandrivalinux.mcc2.services.start">
    <description>Start a Service</description>
    <message>Authentication is required to start system service</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="org.mandrivalinux.mcc2.services.stop">
    <description>Stop a Service</description>
    <message>Authentication is required to stop system service</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>
 
  <action id="org.mandrivalinux.mcc2.services.restart">
    <description>Restart a Service</description>
    <message>Authentication is required to restart system service</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="org.mandrivalinux.mcc2.services.list">
    <description>List Services</description>
    <message>Authentication is required to list services</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="org.mandrivalinux.mcc2.services.servicedetails">
    <description>Show Service Details</description>
    <message>Authentication is required to list services</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
</policyconfig>